{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Overview of Planets' %}
{% block head_title widget_title %}
{% block section_title widget_title %}
{% block content %}
    {% embed '@Gui/Partials/widget.twig' with {
        widget_title: 'List of planets'
    } %}
        {% block widget_content %}
            <form method="post" action="/planet/add/req">
                Name: <input type="text" name="planetName"><br>
                Fact: <input type="text" name="fact"><br>
                <input type="submit" value="Submit Data"><br>
            </form>
        {% endblock %}

    {% endembed %}
    <a href="/planet/add"> Add new planet</a>
{% endblock %}
