{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Overview of Planets' %}
{% block head_title widget_title %}
{% block section_title widget_title %}
{% block content %}
    {% embed '@Gui/Partials/widget.twig' with {
        widget_title: 'List of planets'
    } %}
        {% block widget_content %}
            {{ name }}<br>
            {{ fact }}<br>
            <a href="/planet/list"> Return </a>
        {% endblock %}

    {% endembed %}

{% endblock %}
