{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Overview of Planets' | trans %}

{% block head_title widget_title %}


{% block action %}
    {{ viewActionButton('/planet/moon-list', 'View Moons', []) }}
    {{ createActionButton('/planet/planet-create', 'Create new planet', []) }}
{% endblock %}


{% block section_title widget_title %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with {
        widget_title: 'List of planets'
    } %}
        {% block widget_content %}
            {{ planetTable | raw }}
            <a href="/planet/create"> Add new planet</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
